<a href="https://colab.research.google.com/github/Parinita-Jain/DeepLearning/blob/main/ANNC_on_churn_modelling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

import tensorflow as tf
from tensorflow.keras import Sequential #helps me to initialise the ann
from tensorflow.keras.layers import Dense #helps me to create HL
from sklearn.metrics import classification_report

In [29]:
df = pd.read_csv("Churn_Modelling.csv") #task is to predict if customer will exit the bank,encoding= 'unicode_escape'
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [30]:
x = df.iloc[:,3:-1].values
y = df.iloc[:, -1].values

In [31]:
x

array([[619, 'France', 'Female', ..., 1, 1, 101348.88],
       [608, 'Spain', 'Female', ..., 0, 1, 112542.58],
       [502, 'France', 'Female', ..., 1, 0, 113931.57],
       ...,
       [709, 'France', 'Female', ..., 0, 1, 42085.58],
       [772, 'Germany', 'Male', ..., 1, 0, 92888.52],
       [792, 'France', 'Female', ..., 1, 0, 38190.78]], dtype=object)

In [32]:
y

array([1, 0, 1, ..., 1, 1, 0])

In [33]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le1 = LabelEncoder()

x[:, 1] = le.fit_transform(x[:, 1])
x[:, 2] = le1.fit_transform(x[:, 2])

In [34]:
x

array([[619, 0, 0, ..., 1, 1, 101348.88],
       [608, 2, 0, ..., 0, 1, 112542.58],
       [502, 0, 0, ..., 1, 0, 113931.57],
       ...,
       [709, 0, 0, ..., 0, 1, 42085.58],
       [772, 1, 1, ..., 1, 0, 92888.52],
       [792, 0, 0, ..., 1, 0, 38190.78]], dtype=object)

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [36]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x,y, test_size=0.3, random_state=1)

In [37]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()

xtrain = sc.fit_transform(xtrain)

xtest = sc.transform(xtest)

In [38]:
#step1 -: initialise the ann model
ann = Sequential()

#step2 -: add layers into the model
ann.add(Dense(units=6, activation="relu"))         #relu => linear rectified unit.
# units =6 , is 6 neurons..is just some random no.. activation is activation func relu--this we will see in next chapter
# relu is recommended for hidden layers in case of classification

ann.add(Dense(units=1, activation="sigmoid"))
#for output layer sigmoid func is used for classification

#step3 -: establish the connection between the layers i.e. i/p and neurons and o/p
ann.compile(optimizer= "adam", loss="binary_crossentropy", metrics=["accuracy"])
# just like gradient descednt we will used adam as optimization which is the advance version of gradient descent
# by default adam use rmsprop
# loss is error rate of each batch and matrix is accuracy of each batch
#step4 -: train the model

ann.fit(xtrain, ytrain, batch_size=30, epochs=100)  #training our model

#step5 -: make prediction
ypred = ann.predict(xtest)

Epoch 1/100
234/234 [==============================] - 1s 2ms/step - loss: 0.6007 - accuracy: 0.6801
Epoch 2/100
234/234 [==============================] - 0s 2ms/step - loss: 0.4607 - accuracy: 0.8087
Epoch 3/100
234/234 [==============================] - 0s 2ms/step - loss: 0.4340 - accuracy: 0.8090
Epoch 4/100
234/234 [==============================] - 0s 2ms/step - loss: 0.4241 - accuracy: 0.8149
Epoch 5/100
234/234 [==============================] - 0s 2ms/step - loss: 0.4170 - accuracy: 0.8190
Epoch 6/100
234/234 [==============================] - 0s 2ms/step - loss: 0.4105 - accuracy: 0.8244
Epoch 7/100
234/234 [==============================] - 0s 2ms/step - loss: 0.4045 - accuracy: 0.8303
Epoch 8/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3984 - accuracy: 0.8321
Epoch 9/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3926 - accuracy: 0.8343
Epoch 10/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3872 - accuracy: 0.8397
Epoch 11/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3813 - accuracy: 0.8413
Epoch 12/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3760 - accuracy: 0.8434
Epoch 13/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3717 - accuracy: 0.8454
Epoch 14/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3679 - accuracy: 0.8484
Epoch 15/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3647 - accuracy: 0.8497
Epoch 16/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3618 - accuracy: 0.8516
Epoch 17/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3596 - accuracy: 0.8534
Epoch 18/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3577 - accuracy: 0.8540
Epoch 19/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3561 - accuracy: 0.8544
Epoch 20/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3546 - accuracy: 0.8549
Epoch 21/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3534 - accuracy: 0.8559
Epoch 22/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3523 - accuracy: 0.8559
Epoch 23/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3513 - accuracy: 0.8559
Epoch 24/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3509 - accuracy: 0.8570
Epoch 25/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3501 - accuracy: 0.8563
Epoch 26/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3496 - accuracy: 0.8571
Epoch 27/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3492 - accuracy: 0.8574
Epoch 28/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3489 - accuracy: 0.8567
Epoch 29/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3486 - accuracy: 0.8577
Epoch 30/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3482 - accuracy: 0.8571
Epoch 31/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3480 - accuracy: 0.8570
Epoch 32/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3476 - accuracy: 0.8580
Epoch 33/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3473 - accuracy: 0.8571
Epoch 34/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3471 - accuracy: 0.8574
Epoch 35/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3469 - accuracy: 0.8574
Epoch 36/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3466 - accuracy: 0.8564
Epoch 37/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3464 - accuracy: 0.8570
Epoch 38/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3463 - accuracy: 0.8567
Epoch 39/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3459 - accuracy: 0.8567
Epoch 40/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3457 - accuracy: 0.8579
Epoch 41/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3455 - accuracy: 0.8579
Epoch 42/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3456 - accuracy: 0.8581
Epoch 43/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3452 - accuracy: 0.8573
Epoch 44/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3453 - accuracy: 0.8576
Epoch 45/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3451 - accuracy: 0.8573
Epoch 46/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3450 - accuracy: 0.8567
Epoch 47/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3447 - accuracy: 0.8573
Epoch 48/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3445 - accuracy: 0.8596
Epoch 49/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3446 - accuracy: 0.8583
Epoch 50/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3442 - accuracy: 0.8591
Epoch 51/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3440 - accuracy: 0.8584
Epoch 52/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3442 - accuracy: 0.8577
Epoch 53/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3439 - accuracy: 0.8573
Epoch 54/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3439 - accuracy: 0.8600
Epoch 55/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3435 - accuracy: 0.8574
Epoch 56/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3433 - accuracy: 0.8583
Epoch 57/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3433 - accuracy: 0.8589
Epoch 58/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3433 - accuracy: 0.8591
Epoch 59/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3432 - accuracy: 0.8589
Epoch 60/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3434 - accuracy: 0.8577
Epoch 61/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3430 - accuracy: 0.8586
Epoch 62/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3428 - accuracy: 0.8593
Epoch 63/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3430 - accuracy: 0.8584
Epoch 64/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3428 - accuracy: 0.8591
Epoch 65/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3427 - accuracy: 0.8610
Epoch 66/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3428 - accuracy: 0.8593
Epoch 67/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3425 - accuracy: 0.8591
Epoch 68/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3425 - accuracy: 0.8589
Epoch 69/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3425 - accuracy: 0.8593
Epoch 70/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3425 - accuracy: 0.8599
Epoch 71/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3423 - accuracy: 0.8600
Epoch 72/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3420 - accuracy: 0.8597
Epoch 73/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3420 - accuracy: 0.8594
Epoch 74/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3420 - accuracy: 0.8599
Epoch 75/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3422 - accuracy: 0.8601
Epoch 76/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3421 - accuracy: 0.8607
Epoch 77/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3421 - accuracy: 0.8604
Epoch 78/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3418 - accuracy: 0.8611
Epoch 79/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3420 - accuracy: 0.8597
Epoch 80/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3417 - accuracy: 0.8600
Epoch 81/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3419 - accuracy: 0.8591
Epoch 82/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3416 - accuracy: 0.8604
Epoch 83/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3418 - accuracy: 0.8606
Epoch 84/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3416 - accuracy: 0.8616
Epoch 85/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3419 - accuracy: 0.8606
Epoch 86/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3414 - accuracy: 0.8621
Epoch 87/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3416 - accuracy: 0.8606
Epoch 88/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3417 - accuracy: 0.8590
Epoch 89/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3413 - accuracy: 0.8591
Epoch 90/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3414 - accuracy: 0.8607
Epoch 91/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3415 - accuracy: 0.8603
Epoch 92/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3414 - accuracy: 0.8590
Epoch 93/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3413 - accuracy: 0.8601
Epoch 94/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3414 - accuracy: 0.8603
Epoch 95/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3415 - accuracy: 0.8606
Epoch 96/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3414 - accuracy: 0.8610
Epoch 97/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3411 - accuracy: 0.8609
Epoch 98/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3408 - accuracy: 0.8610
Epoch 99/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3414 - accuracy: 0.8599
Epoch 100/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3409 - accuracy: 0.8603
94/94 [==============================] - 0s 1ms/step

In [39]:
ypred

array([[0.06807917],
       [0.10574279],
       [0.05713545],
       ...,
       [0.03180931],
       [0.08676603],
       [0.08370928]], dtype=float32)

In [40]:
#step6 -: set the threshold
ypred = ypred>0.5

In [41]:
ypred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [42]:
#step7 -: get the report
print(classification_report(ytest, ypred))

              precision    recall  f1-score   support

           0       0.87      0.96      0.92      2373
           1       0.77      0.47      0.58       627

    accuracy                           0.86      3000
   macro avg       0.82      0.72      0.75      3000
weighted avg       0.85      0.86      0.85      3000

In [43]:
df["Exited"].value_counts()

0    7963
1    2037
Name: Exited, dtype: int64

In [44]:
from sklearn.linear_model import LogisticRegression #just checking ML model accuracy

logreg = LogisticRegression()

logreg.fit(xtrain, ytrain)

ypred = logreg.predict(xtest)

print(classification_report(ytest, ypred))

#dl is efficient.

              precision    recall  f1-score   support

           0       0.82      0.97      0.89      2373
           1       0.64      0.18      0.28       627

    accuracy                           0.81      3000
   macro avg       0.73      0.58      0.59      3000
weighted avg       0.78      0.81      0.76      3000